<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category label="General">
      <setting id="debug" type="bool" label="Enable debugging mode" default="false" visible="true"/>
      <setting id="api_key" type="text" default="AIzaSyAxaHJTQ5zgh86wk7geOwm-y0YyNMcEkSc" visible="false"/>
   </category>
</settings>
